<!DOCTYPE html>
<html>
<head>

  <title>PHCDevworks Alerts & Form Validation Notifications</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  
  <%= stylesheet_link_tag    "phcdevworks_notifications/application", media: "all" %>
  <%= javascript_include_tag "phcdevworks_notifications/application" %>

</head>
<body>

<%= yield %>

</body>
</html>
